PG_PASS=
APP_PG_HOST=db
APP_PG_USER=app
APP_PG_DB=app
APP_PG_PASS=

REDIS_PASSWORD="4h1IqSzesryXxFRrB3L2ziQvKubRkOkk9qcezzTWWYX34JuP"

DB_URL=postgres://$APP_PG_USER:$APP_PG_PASS@$APP_PG_HOST/$APP_PG_DB?sslmode=disable
CACHE_URL=""
S3_URL=""
API_ADDR="0.0.0.0:9090"
